[user]
	name = rio
	email = 4122858+riorz@users.noreply.github.com
[core]
	editor = vim
[alias]
	lg = log --oneline --graph --decorate --all
	st = status
	ci = commit -m
	co = checkout
	br = branch
	df = diff
	last = log -1 HEAD
